In [1]:
#Se inicia creando la base de datos EstudiantesUC siguiendo el esquema indicado.
import sqlite3
conn = sqlite3.connect('EstudiantesUC.db')
c = conn.cursor()

#Se borran las tablas si ya existen
c.execute('''Drop table if exists Curso''')
c.execute('''Drop table if exists Estudiante''')
c.execute('''Drop table if exists Estudiante_has_Curso''')
c.execute('''Drop table if exists EstudianteErasmus''')
c.execute('''Drop table if exists Profesor''')
c.execute('''Drop table if exists Profesor_has_Curso''')
# Creamos las tablas indicadas en el esquema, con sus claves primarias y foráneas, y las guardamos en la base de datos de UC
c.execute('''CREATE TABLE Curso
             (idCurso integer PRIMARY KEY, titulo VARCHAR(45) not NULL, creditos integer not NULL);''')
c.execute('''CREATE TABLE Estudiante
             (idEstudiante integer PRIMARY KEY, nombre VARCHAR(25) not NULL, apellidos VARCHAR(85) not NULL,
           numMatricula VARCHAR(15), direccion VARCHAR(100), telefono VARCHAR(15), email VARCHAR(45));''')
c.execute('''CREATE TABLE Estudiante_has_Curso
             (Estudiante_idEstudiante integer, Curso_idCurso integer,
          PRIMARY KEY (Estudiante_idEstudiante, Curso_idCurso),
          FOREIGN KEY (Estudiante_idEstudiante) REFERENCES Estudiante(idEstudiante),
          FOREIGN KEY (Curso_idCurso) REFERENCES Curso(idCurso));''')
#En EstudianteErasmus, como según el esquema la PRIMARY KEY la componen idEstudianteErasmus e idEstudiante, y idEstudiante es clave primaria en Estudiante, se añade UNIQUE a idEstudianteErasmus e idEstudiante para que no se repitan valores en la tabla
c.execute('''CREATE TABLE EstudianteErasmus
             (idEstudianteErasmus integer UNIQUE, idEstudiante integer UNIQUE, universidadOrigen VARCHAR(45),
          PRIMARY KEY (idEstudianteErasmus, idEstudiante));''')
c.execute('''CREATE TABLE Profesor
             (idProfesor integer PRIMARY KEY, nombre VARCHAR(25) not NULL, apellidos VARCHAR(85) not NULL,
          email VARCHAR(45));''')
c.execute('''CREATE TABLE Profesor_has_Curso
             (Profesor_idProfesor integer, Curso_idCurso integer,
          PRIMARY KEY (Profesor_idProfesor, Curso_idCurso),
          FOREIGN KEY (Profesor_idProfesor) REFERENCES Profesor(idProfesor),
          FOREIGN KEY (Curso_idCurso) REFERENCES Curso(idCurso));''')
conn.commit()
c.close()

In [2]:
#Se inicia creando la base de datos EstudiantesUoE siguiendo el esquema indicado.
import sqlite3
conn = sqlite3.connect('EstudiantesUoE.db')
c = conn.cursor()

#Se borran las tablas si ya existen
c.execute('''Drop table if exists Program''')
c.execute('''Drop table if exists SportActivity''')
c.execute('''Drop table if exists Student''')
c.execute('''Drop table if exists Subject''')
c.execute('''Drop table if exists StudentMarks''')
# Creamos las tablas indicadas en el esquema, con sus claves primarias y foráneas, y las guardamos en la base de datos de UoE
c.execute('''CREATE TABLE Program
             (idProgram integer PRIMARY KEY, name VARCHAR(45) not NULL, ueFees integer,
          overseasFees VARCHAR(45));''')
c.execute('''CREATE TABLE SportActivity
             (idSportActivity integer PRIMARY KEY, name VARCHAR(25) not NULL, durationWeeks integer not NULL,
           price integer not NULL);''')
#En la tabla Student se ha añadido un UNIQUE a Program_idProgram para que no pueda haber varios estudiantes con el mismo programa, al ser un uno a uno
c.execute('''CREATE TABLE Student
             (idStudent integer PRIMARY KEY, name VARCHAR(155) not NULL, dateOfBirth date not NULL,
          nationality VARCHAR(45), isErasmus boolean, homeUniversity VARCHAR(45), hasScolarship boolean,
          Program_idProgram integer UNIQUE, englishLevel CHAR(2), SportActivity_idSportActivity integer,
          FOREIGN KEY (Program_idProgram) REFERENCES Program(idProgram),
          FOREIGN KEY (SportActivity_idSportActivity) REFERENCES SportActivity(idSportActivity));''')
c.execute('''CREATE TABLE Subject
             (idSubject integer PRIMARY KEY, name VARCHAR(45) not NULL, year integer,
          Program_idProgram integer, FOREIGN KEY (Program_idProgram) REFERENCES Program(idProgram));''')
c.execute('''CREATE TABLE StudentMarks
             (Student_idStudent integer, Subject_idSubject integer, mark integer not NULL,
          PRIMARY KEY (Student_idStudent, Subject_idSubject));''')
conn.commit()
c.close()

In [3]:
#Se procede a rellenar la base de datos de UC con datos aleatorios.
from faker import Faker
import numpy as np
import random
numCursos = 4
numEstudiantes = 100
numEstudiantesErasmus = 20
numProfesores = 15
fake = Faker('es_ES')
conn = sqlite3.connect('EstudiantesUC.db')
c = conn.cursor()

for b in range(1,numCursos+1):
    idCurso = b
    titulo = fake.sentence()
    creditos = fake.random_int(min=40, max=60)
    c.execute('''INSERT INTO Curso(idCurso,titulo,creditos) VALUES (%s, "%s", "%s");''' % (idCurso, titulo, creditos));

for b in range(1,numEstudiantes+1):
    idEstudiante = b
    nombre = fake.name()
    apellidos = fake.last_name() + " " + fake.last_name()
    numMatricula = fake.random_int(min=1000, max=9999) 
    direccion = fake.address()
    telefono = fake.phone_number()
    email = fake.email()    
    c.execute('''INSERT INTO Estudiante (idEstudiante,nombre,apellidos,numMatricula,direccion,telefono,email) VALUES (%s, "%s", "%s", "%s", "%s", "%s", "%s");''' % (idEstudiante, nombre, apellidos, numMatricula, direccion, telefono, email));

for b in range(1,numEstudiantes+1):
    idEstudiante = b
    idCurso = fake.random_int(min=1, max=numCursos)
    c.execute('''INSERT INTO Estudiante_has_Curso(Estudiante_idEstudiante, Curso_idCurso) VALUES (%s, "%s");''' % (idEstudiante, idCurso));

vector = range(1,numEstudiantes+1)
listaEstudiantes = random.sample(vector, numEstudiantesErasmus)
for b in range(1,numEstudiantesErasmus+1):
    idEstudianteErasmus = b
    idEstudiante = listaEstudiantes[b-1]
    universidadOrigen = fake.company() #faker no proporciona universidades, así que he puesto empresas
    c.execute('''INSERT INTO EstudianteErasmus(idEstudianteErasmus, idEstudiante, universidadOrigen) VALUES (%s, "%s", "%s");''' % (idEstudianteErasmus, idEstudiante, universidadOrigen));

for b in range(1,numProfesores+1):
    idProfesor = b
    nombre = fake.name()
    apellidos = fake.last_name()
    email = fake.email()
    c.execute('''INSERT INTO Profesor(idProfesor,nombre,apellidos,email) VALUES (%s, "%s", "%s", "%s");''' % (idProfesor, nombre, apellidos, email));

for b in range(1, numCursos+1):
    idProfesor = fake.random_int(min=1, max=numProfesores)
    idCurso = b
    c.execute('''INSERT INTO Profesor_has_Curso(Profesor_idProfesor, Curso_idCurso) VALUES (%s, "%s");''' % (idProfesor, idCurso));

conn.commit()

c.close()

In [4]:
#Se procede a rellenar la base de datos de UoE con datos aleatorios.
from faker import Faker
import numpy as np
import random

numSportActivities = 9
numStudents = 100
numSubjects = numStudents*10
fake = Faker('en_GB')
conn = sqlite3.connect('EstudiantesUoE.db')
c = conn.cursor()

for b in range(1,numStudents+1):
    idProgram = b
    name = fake.name()
    ueFees = fake.random_int(min=70, max=1000)
    overseasFees = str(fake.random_int(min=3500, max=18000))
    c.execute('''INSERT INTO Program(idProgram,name,ueFees,overseasFees) VALUES (%s, "%s", "%s", "%s");''' % (idProgram, name, ueFees, overseasFees));

for b in range(1,numSportActivities+1):
    idSportActivity = b
    name = fake.name()
    durationWeeks = fake.random_int(min=1, max=32)
    price = fake.random_int(min=50, max=500) 
    c.execute('''INSERT INTO SportActivity(idSportActivity,name,durationWeeks,price) VALUES (%s, "%s", "%s", "%s");''' % (idSportActivity, name, durationWeeks, price));

for b in range(1, numStudents+1):
    idStudent = b
    name = fake.name()
    dateOfBirth = fake.date(pattern="%Y-%m-%d")
    nationality = fake.country()
    isErasmus = fake.boolean()
    homeUniversity = fake.company()
    hasScolarship = fake.boolean()
    idProgram = b
    englishLevel = fake.language_code()
    idSportActivity = fake.random_int(min=1, max=numSportActivities)
    c.execute('''INSERT INTO Student(idStudent,name,dateOfBirth,nationality,isErasmus,homeUniversity,hasScolarship,Program_idProgram,englishLevel,SportActivity_idSportActivity) VALUES (%s, "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s");''' % (idStudent, name, dateOfBirth, nationality, isErasmus, homeUniversity, hasScolarship, idProgram, englishLevel, idSportActivity));

v1 = range(1, numStudents+1)
a = np.array(random.choices(v1, k=numSubjects))
for b in range(1,numSubjects+1):
    idSubject = b
    name = fake.name()
    year = fake.year()
    idProgram = a[b-1]
    c.execute('''INSERT INTO Subject(idSubject,name,year,Program_idProgram) VALUES (%s, "%s", "%s", "%s");''' % (idSubject, name, year, idProgram));

for b in range(1,numSubjects+1):
    idStudent = a[b-1]
    idSubject = b
    mark = fake.random_int(min=0, max=10)
    c.execute('''INSERT INTO StudentMarks(Student_idStudent, Subject_idSubject, mark) VALUES (%s, "%s", "%s");''' % (idStudent, idSubject, mark));

conn.commit()

c.close()

In [5]:
#Se inicia creando la base de datos Estudiantes siguiendo el esquema indicado.
import sqlite3
conn = sqlite3.connect('Estudiantes.db')
c = conn.cursor()

#Se borran las tablas si ya existen
c.execute('''Drop table if exists Asignatura''')
c.execute('''Drop table if exists ActividadDeportiva''')
c.execute('''Drop table if exists Matricula''')
c.execute('''Drop table if exists Profesor''')
c.execute('''Drop table if exists Estudiante''')
c.execute('''Drop table if exists Profesor_has_Asignatura''')
c.execute('''Drop table if exists Nota_Estudiante_has_Asignatura''')
# Creamos las tablas indicadas en el esquema, con sus claves primarias y foráneas, y las guardamos en la base de datos de UC
c.execute('''CREATE TABLE Asignatura
             (idAsignatura integer PRIMARY KEY, nombre VARCHAR(45) not NULL, creditos integer, anho integer);''')
c.execute('''CREATE TABLE ActividadDeportiva
             (idActividadDeportiva integer PRIMARY KEY, nombre VARCHAR(45) not NULL, semanasDuracion integer not NULL,
           precio integer);''')
c.execute('''CREATE TABLE Matricula
             (idMatricula integer PRIMARY KEY, nombre VARCHAR(45) not NULL, tarifasUe integer,
           tarifasExtranjero VARCHAR(45));''')
c.execute('''CREATE TABLE Profesor
             (idProfesor integer PRIMARY KEY, nombre VARCHAR(25) not NULL, apellidos VARCHAR(85) not NULL,
          email VARCHAR(45));''')
c.execute('''CREATE TABLE Estudiante
             (idEstudiante integer PRIMARY KEY, nombreCompleto VARCHAR(155) not NULL, fechaNacimiento date,
          nacionalidad VARCHAR(45), direccion VARCHAR(100), telefono VARCHAR(15), email VARCHAR(45),
          esErasmus boolean, universidadOrigen VARCHAR(45), beca boolean, nivelIngles CHAR(2),
           Matricula_idMatricula integer UNIQUE, ActividadDeportiva_idActividadDeportiva integer,
            FOREIGN KEY (Matricula_idMatricula) REFERENCES Matricula(idMatricula),
            FOREIGN KEY (ActividadDeportiva_idActividadDeportiva) REFERENCES ActividadDeportiva(idActividadDeportiva));''')
c.execute('''CREATE TABLE Profesor_has_Asignatura
             (Profesor_idProfesor integer, Asignatura_idAsignatura,
          PRIMARY KEY (Profesor_idProfesor, Asignatura_idAsignatura),
          FOREIGN KEY (Profesor_idProfesor) REFERENCES Profesor(idProfesor),
          FOREIGN KEY (Asignatura_idAsignatura) REFERENCES Asignatura(idAsignatura));''')
c.execute('''CREATE TABLE Nota_Estudiante_has_Asignatura
             (Estudiante_idEstudiante integer, Asignatura_idAsignatura integer, nota integer,
          PRIMARY KEY (Estudiante_idEstudiante, Asignatura_idAsignatura),
          FOREIGN KEY (Estudiante_idEstudiante) REFERENCES Estudiante(idEstudiante),
          FOREIGN KEY (Asignatura_idAsignatura) REFERENCES Asignatura(idAsignatura));''')
conn.commit()
c.close()

In [6]:
#extriago los datos de la base de datos de estudiantes UC
conn = sqlite3.connect('EstudiantesUC.db')
c = conn.cursor()

#consulta sobre todo los datos de la tabla Curso
c.execute('''SELECT * FROM Curso''')
curUC = c.fetchall()

#consulta sobre todo los datos de la tabla Estudiante, uniendo la universidadOrigen de la tabla EstudianteErasmus
c.execute('''SELECT e.*, ee.universidadOrigen FROM Estudiante e LEFT JOIN EstudianteErasmus ee ON e.idEstudiante = ee.idEstudiante''')
estUC = c.fetchall()

#consulta sobre todo los datos de la tabla Profesor
c.execute('''SELECT * FROM Profesor''')
profUC = c.fetchall()

#consulta sobre todo los datos de la tabla Estudiante_has_Curso
c.execute('''SELECT * FROM Estudiante_has_Curso''')
estCurUC = c.fetchall()

#consulta sobre todo los datos de la tabla Profesor_has_Curso
c.execute('''SELECT * FROM Profesor_has_Curso''')
profCurUC = c.fetchall()

c.close()

In [7]:
#extriago los datos de la base de datos de estudiantes UoE
conn = sqlite3.connect('EstudiantesUoE.db')
c = conn.cursor()

#consulta sobre todo los datos de la tabla Program
c.execute('''SELECT * FROM Program''')
proUOE = c.fetchall()

#consulta sobre todo los datos de la tabla SportActivity
c.execute('''SELECT * FROM SportActivity''')
spoUOE = c.fetchall()

#consulta sobre todo los datos de la tabla Student
c.execute('''SELECT * FROM Student''')
stuUOE = c.fetchall()

#consulta sobre todo los datos de la tabla Subject
c.execute('''SELECT * FROM Subject''')
subUOE = c.fetchall()

#consulta sobre todo los datos de la tabla StudentMarks
c.execute('''SELECT * FROM StudentMarks''')
stumarkUOE = c.fetchall()

c.close()

In [8]:
#importamos datos estudiantes UC:
conn = sqlite3.connect('Estudiantes.db')
c = conn.cursor()

indAsignatura = 0
#insertamos informacion en la tabla Asignatura de la base de datos final
for b in range(0,len(curUC)):
    idAsignatura = curUC[b][0]
    nombre = curUC[b][1]
    creditos = curUC[b][2]
    anho = None
    c.execute('''INSERT INTO Asignatura(idAsignatura,nombre,creditos,anho) VALUES (?, ?, ?, ?);''' ,(idAsignatura, nombre, creditos, anho));
    indAsignatura+=1
conn.commit()

indMatricula = 0
#insertamos informacion en la tabla Matricula de la base de datos final
for b in range(0,len(estUC)):
    idMatricula = indMatricula + 1
    nombre = estUC[b][3]
    tarifasUe = None
    tarifasExtranjero = None
    c.execute('''INSERT INTO Matricula(idMatricula,nombre,tarifasUe,tarifasExtranjero) VALUES (?, ?, ?, ?);''' ,(idMatricula, nombre, tarifasUe, tarifasExtranjero));
    indMatricula+=1
conn.commit()

indProfesor = 0
#insertamos informacion en la tabla Profesor de la base de datos final
for b in range(0,len(profUC)):
    idProfesor = profUC[b][0]
    nombre = profUC[b][1]
    apellidos = profUC[b][2]
    email = profUC[b][3]
    c.execute('''INSERT INTO Profesor(idProfesor,nombre,apellidos,email) VALUES (?, ?, ?, ?);''' ,(idProfesor, nombre, apellidos, email));
    indProfesor+=1
conn.commit()

indEstudiante = 0
#insertamos informacion en la tabla Estudiante de la base de datos final
for b in range(0,len(estUC)):
    idEstudiante = estUC[b][0]
    nombreCompleto = estUC[b][1] + " " + estUC[b][2] 
    fechaNacimiento = None
    nacionalidad = None
    direccion = estUC[b][4]
    telefono = estUC[b][5]
    email = estUC[b][6]
    esErasmus = True if estUC[b][7] is not None else False
    universidadOrigen = estUC[b][7]
    beca = None
    nivelIngles = None
    Matricula_idMatricula = indEstudiante + 1
    ActividadDeportiva_idActividadDeportiva = None
    c.execute('''INSERT INTO Estudiante(idEstudiante,nombreCompleto,fechaNacimiento,nacionalidad,direccion,telefono,email,esErasmus,universidadOrigen,beca,nivelIngles,Matricula_idMatricula,ActividadDeportiva_idActividadDeportiva)
              VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);''' ,(idEstudiante, nombreCompleto, fechaNacimiento, nacionalidad, direccion, telefono, email, esErasmus, universidadOrigen, beca, nivelIngles, Matricula_idMatricula, ActividadDeportiva_idActividadDeportiva));
    indEstudiante+=1
conn.commit()

#insertamos informacion en la tabla Profesor_has_Asignatura de la base de datos final
for b in range(0,len(profCurUC)):
    Profesor_idProfesor = profCurUC[b][0]
    Asignatura_idAsignatura = profCurUC[b][1]
    c.execute('''INSERT INTO Profesor_has_Asignatura(Profesor_idProfesor,Asignatura_idAsignatura) VALUES (?, ?);''' ,(Profesor_idProfesor, Asignatura_idAsignatura));
conn.commit()

#insertamos informacion en la tabla Nota_Estudiante_has_Asignatura de la base de datos final
for b in range(0,len(estCurUC)):
    Estudiante_idEstudiante = estCurUC[b][0]
    Asignatura_idAsignatura = estCurUC[b][1]
    nota = None
    c.execute('''INSERT INTO Nota_Estudiante_has_Asignatura(Estudiante_idEstudiante,Asignatura_idAsignatura,nota) VALUES (?, ?, ?);''' ,(Estudiante_idEstudiante, Asignatura_idAsignatura, nota));
conn.commit()

c.close()

Se ha utilizado los mismos índices que en la base de datos EstudiantesUC para conservar las relaciones entre entidades. Lo mismo hago con la de EstudiantesUoE.

In [9]:
##importamos datos estudiantes UoE:
conn = sqlite3.connect('Estudiantes.db')
c = conn.cursor()

#insertamos informacion en la tabla Asignatura de la base de datos final
for b in range(0,len(subUOE)):
    idAsignatura = indAsignatura + subUOE[b][0]
    nombre = subUOE[b][1]
    creditos = None
    anho = subUOE[b][2]
    c.execute('''INSERT INTO Asignatura(idAsignatura,nombre,creditos,anho) VALUES (?, ?, ?, ?);''' ,(idAsignatura, nombre, creditos, anho));
conn.commit()

#insertamos informacion en la tabla ActividadDeportiva de la base de datos final
for b in range(0,len(spoUOE)):
    idActividadDeportiva = spoUOE[b][0]
    nombre = spoUOE[b][1]
    semanasDuracion = spoUOE[b][2]
    precio = spoUOE[b][3]
    c.execute('''INSERT INTO ActividadDeportiva(idActividadDeportiva,nombre,semanasDuracion,precio) VALUES (?, ?, ?, ?);''' ,(idActividadDeportiva, nombre, semanasDuracion, precio));
conn.commit()

#insertamos informacion en la tabla Matricula de la base de datos final
for b in range(0,len(proUOE)):
    idMatricula = indMatricula + proUOE[b][0]
    nombre = proUOE[b][1]
    tarifasUe = proUOE[b][2]
    tarifasExtranjero = proUOE[b][3]
    c.execute('''INSERT INTO Matricula(idMatricula,nombre,tarifasUe,tarifasExtranjero) VALUES (?, ?, ?, ?);''' ,(idMatricula, nombre, tarifasUe, tarifasExtranjero));
conn.commit()

#insertamos informacion en la tabla Estudiante de la base de datos final
for b in range(0,len(stuUOE)):
    idEstudiante = indEstudiante + stuUOE[b][0]
    nombreCompleto = stuUOE[b][1]
    fechaNacimiento = stuUOE[b][2]
    nacionalidad = stuUOE[b][3]
    direccion = None
    telefono = None
    email = None
    esErasmus = stuUOE[b][4]
    universidadOrigen = stuUOE[b][5]
    beca = stuUOE[b][6]
    nivelIngles = stuUOE[b][8]
    Matricula_idMatricula = indMatricula + stuUOE[b][7]
    ActividadDeportiva_idActividadDeportiva = stuUOE[b][9]
    c.execute('''INSERT INTO Estudiante(idEstudiante,nombreCompleto,fechaNacimiento,nacionalidad,direccion,telefono,email,esErasmus,universidadOrigen,beca,nivelIngles,Matricula_idMatricula,ActividadDeportiva_idActividadDeportiva)
              VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);''' ,(idEstudiante, nombreCompleto, fechaNacimiento, nacionalidad, direccion, telefono, email, esErasmus, universidadOrigen, beca, nivelIngles, Matricula_idMatricula, ActividadDeportiva_idActividadDeportiva));
conn.commit()

#insertamos informacion en la tabla Nota_Estudiante_has_Asignatura de la base de datos final
for b in range(0,len(stumarkUOE)):
    Estudiante_idEstudiante = indEstudiante + stumarkUOE[b][0]
    Asignatura_idAsignatura = indAsignatura + stumarkUOE[b][1]
    nota = stumarkUOE[b][2]
    c.execute('''INSERT INTO Nota_Estudiante_has_Asignatura(Estudiante_idEstudiante,Asignatura_idAsignatura,nota) VALUES (?, ?, ?);''' ,(Estudiante_idEstudiante, Asignatura_idAsignatura, nota));
conn.commit()

c.close()

In [10]:
#extraigo los datos de la base de datos de estudiantes
conn = sqlite3.connect('Estudiantes.db')
c = conn.cursor()

c.execute('''SELECT * FROM Estudiante''')
est = c.fetchall()

c.execute('''SELECT * FROM Asignatura''')
asig = c.fetchall()

c.execute('''SELECT * FROM Profesor''')
prof = c.fetchall()

c.execute('''SELECT * FROM Matricula''')
mat = c.fetchall()

c.execute('''SELECT * FROM ActividadDeportiva''')
act = c.fetchall()

c.execute('''SELECT * FROM Nota_Estudiante_has_Asignatura''')
estAsig = c.fetchall()

c.execute('''SELECT * FROM Profesor_has_Asignatura''')
profAsig = c.fetchall()

c.close()

In [11]:
print(spoUOE)
print(act)

print(profUC)
print(prof)

print(profCurUC)
print(profAsig)

print(estUC)
print(stuUOE)
print(est)

print([item[3] for item in estUC])
print(proUOE)
print(mat)

print(curUC)
print(subUOE)
print(asig)

print(estCurUC)
print(stumarkUOE)
print(estAsig)

[(1, 'Jill Reynolds', 2, 403), (2, 'Julie Allen-Morris', 11, 379), (3, 'Dr Toby Chapman', 1, 228), (4, 'Natasha Johnston', 29, 491), (5, 'Bryan Abbott', 3, 311), (6, 'Mr Tom Morris', 22, 93), (7, 'Dr Laura Lawson', 6, 268), (8, 'Ms Jenna George', 3, 478), (9, 'Dr Aaron Bolton', 15, 212)]
[(1, 'Jill Reynolds', 2, 403), (2, 'Julie Allen-Morris', 11, 379), (3, 'Dr Toby Chapman', 1, 228), (4, 'Natasha Johnston', 29, 491), (5, 'Bryan Abbott', 3, 311), (6, 'Mr Tom Morris', 22, 93), (7, 'Dr Laura Lawson', 6, 268), (8, 'Ms Jenna George', 3, 478), (9, 'Dr Aaron Bolton', 15, 212)]
[(1, 'Cristian Figueras Almansa', 'Prats', 'kpalau@example.com'), (2, 'Gisela Busquets-Durán', 'Arana', 'granadosteodora@example.net'), (3, 'Eli Martín Priego', 'Villalonga', 'pcano@example.com'), (4, 'Almudena Palacio Vigil', 'Revilla', 'gjauregui@example.net'), (5, 'Maite Larrea Aroca', 'Girón', 'nuriasanjuan@example.org'), (6, 'Enrique Castell Morcillo', 'Pelayo', 'wbuendia@example.com'), (7, 'Baudelio Araujo', 'Bertrán', 'montoyalourdes@example.com'), (8, 'Yago Carrera Vega', 'Lasa', 'ingridcapdevila@example.com'), (9, 'Bienvenida Gilabert', 'Carnero', 'enieto@example.org'), (10, 'Inés Madrid Escobar', 'Iglesia', 'quiroganadia@example.net'), (11, 'Fidel Arnaiz Revilla', 'Agudo', 'dvall@example.org'), (12, 'Remedios Cuenca Bayona', 'Garmendia', 'miguel-angel51@example.org'), (13, 'Sabas Baños Almagro', 'Cabo', 'valenciahumberto@example.org'), (14, 'David Garcia Perez', 'Roman', 'heribertolinares@example.net'), (15, 'Sabas Asdrubal Alsina Puente', 'Anglada', 'ciriaco54@example.org')]
[(1, 'Cristian Figueras Almansa', 'Prats', 'kpalau@example.com'), (2, 'Gisela Busquets-Durán', 'Arana', 'granadosteodora@example.net'), (3, 'Eli Martín Priego', 'Villalonga', 'pcano@example.com'), (4, 'Almudena Palacio Vigil', 'Revilla', 'gjauregui@example.net'), (5, 'Maite Larrea Aroca', 'Girón', 'nuriasanjuan@example.org'), (6, 'Enrique Castell Morcillo', 'Pelayo', 'wbuendia@example.com'), (7, 'Baudelio Araujo', 'Bertrán', 'montoyalourdes@example.com'), (8, 'Yago Carrera Vega', 'Lasa', 'ingridcapdevila@example.com'), (9, 'Bienvenida Gilabert', 'Carnero', 'enieto@example.org'), (10, 'Inés Madrid Escobar', 'Iglesia', 'quiroganadia@example.net'), (11, 'Fidel Arnaiz Revilla', 'Agudo', 'dvall@example.org'), (12, 'Remedios Cuenca Bayona', 'Garmendia', 'miguel-angel51@example.org'), (13, 'Sabas Baños Almagro', 'Cabo', 'valenciahumberto@example.org'), (14, 'David Garcia Perez', 'Roman', 'heribertolinares@example.net'), (15, 'Sabas Asdrubal Alsina Puente', 'Anglada', 'ciriaco54@example.org')]
[(1, 1), (15, 2), (7, 3), (15, 4)]
[(1, 1), (15, 2), (7, 3), (15, 4)]
[(1, 'Gema Baquero Garzón', 'Sanz Sancho', '9883', 'Calle Aitor Huguet 88\nÁlava, 39241', '+34800 19 79 67', 'plinioferreras@example.com', None), (2, 'Modesto Lillo Solana', 'Mateos Baró', '1738', 'Calle Mariana Barrio 14\nTarragona, 31003', '+34977087399', 'reneprats@example.com', None), (3, 'Manuela del Bonilla', 'Ortuño Orozco', '9216', 'Calle Bibiana Conesa 8 Puerta 0 \nCastellón, 23555', '+34 986979197', 'tomevasco@example.org', None), (4, 'Elodia Sastre Cid', 'Chaparro Lloret', '9565', 'Ronda Noemí Valle 18 Apt. 15 \nPalencia, 06084', '+34971 077 734', 'tiburciomulet@example.com', None), (5, 'Juan Luis Herrero Cañete', 'Moles Pagès', '9314', 'Pasadizo Melchor Torre 47\nLeón, 17197', '+34 883 69 78 44', 'teresasaez@example.net', 'Caballero y Tomás S.A.T.'), (6, 'Adolfo Espada Clavero', 'Lloret Sevilla', '2977', 'Callejón de Valeria Gomila 2 Piso 3 \nCastellón, 16121', '+34 987 672 485', 'felipalobato@example.net', None), (7, 'Loreto Solera Padilla', 'Belmonte Franch', '5439', 'Plaza Celia Bermudez 41 Apt. 97 \nSanta Cruz de Tenerife, 22312', '+34878684713', 'palmadomingo@example.org', None), (8, 'Edelmira Amores Lasa', 'Solana Navas', '4347', 'Pasaje Cayetana Ayllón 9\nGirona, 50044', '+34702465669', 'mercadercandelaria@example.com', None), (9, 'Soraya Naranjo Gascón', 'Alberto Aragón', '7280', 'Acceso de Bernardo Ballester 120 Apt. 71 \nCádiz, 18848', '+34948 03 95 45', 'almazanaitana@example.net', None), (10, 'Carla Chamorro Alcántara', 'Tomas Vilaplana', '2988', 'Cañada Noa Escribano 6 Piso 3 \nÁlava, 24395', '+34960619812', 'jacintopascual@example.com', None), (11, 'Feliciano Madrid Solís', 'Cerro Puga', '8434', 'Cuesta Eulalia Agustí 27 Puerta 3 \nLugo, 19687', '+34943 766 333', 'xperello@example.org', None), (12, 'Tito de Pedrosa', 'Bárcena Raya', '9389', 'Paseo Yésica Guardiola 840\nCuenca, 09855', '+34942146857', 'yesicasaura@example.org', 'Restauración Busquets S.Coop.'), (13, 'Fidela Talavera Pablo', 'Aragón Pinto', '2589', 'Rambla Tadeo Guerra 6 Piso 3 \nZaragoza, 09098', '+34822 91 62 17', 'gabrielacasado@example.net', None), (14, 'Alma Carballo Caballero', 'Saura Manso', '2649', 'Acceso de Efraín Neira 250\nMelilla, 38397', '+34807 61 54 95', 'gredondo@example.org', None), (15, 'Chucho de Cabañas', 'Caparrós Vallés', '7641', 'Cañada de Gema Cuevas 63 Piso 5 \nOurense, 09636', '+34877064906', 'fvilalta@example.net', None), (16, 'Juan Francisco Lago Baró', 'Araujo Alba', '4120', 'Alameda de Pascual Mariscal 4\nSanta Cruz de Tenerife, 27490', '+34 902 344 746', 'lourdes26@example.org', None), (17, 'Nicodemo Pinilla Maza', 'Mayol Arnaiz', '6142', 'Cañada Nacho Talavera 21 Puerta 6 \nLa Coruña, 42222', '+34 986622160', 'humberto35@example.org', None), (18, 'Gastón Cortina Prada', 'Adadia Catalán', '1938', 'Ronda de Amalia Fuertes 20\nHuelva, 04773', '+34979979959', 'bellocurro@example.com', None), (19, 'Marino Carreño-Gomez', 'Nieto Casals', '9943', 'Rambla Loreto Camps 344 Apt. 36 \nCantabria, 03947', '+34 848 982 680', 'ferreramalia@example.net', None), (20, 'Esther Balaguer Badía', 'Luque Arrieta', '8437', 'Ronda Luciana Asenjo 1\nGirona, 05986', '+34 981 645 209', 'omar31@example.net', None), (21, 'Cornelio Carpio Giménez', 'Marí Marti', '1681', 'Alameda María Ángeles Tamarit 50 Puerta 0 \nLa Coruña, 15245', '+34 941 73 08 51', 'jvalenzuela@example.com', None), (22, 'Javi Aranda Farré', 'Carbó Almazán', '3107', 'Avenida de Roberto Agustín 62\nHuelva, 39408', '+34971182833', 'qmontserrat@example.com', None), (23, 'Francisco Javier de Barrera', 'Seco Barrio', '6068', 'Ronda Loida Dalmau 14 Piso 2 \nAsturias, 14307', '+34986 42 54 89', 'gmartinez@example.com', None), (24, 'Maximiano Bernardino Torrent Chamorro', 'Ibáñez Lobato', '4618', 'Calle Marcia Coloma 4 Apt. 65 \nMurcia, 16530', '+34875129585', 'verafermin@example.net', 'Hermanos Lloret S.A.'), (25, 'Antonio Severiano Ángel Ángel', 'Larrañaga Verdugo', '7037', 'Alameda Rosalina Múñiz 7 Puerta 5 \nCastellón, 40478', '+34 947 721 636', 'tmayo@example.org', 'Miguela Flor Huerta S.C.P'), (26, 'Ani Segovia Sanmartín', 'Requena Pomares', '9670', 'Alameda Carina Carrillo 36 Piso 2 \nBadajoz, 28461', '+34 873644015', 'adelardocorral@example.com', None), (27, 'Adela Ricart-Agustín', 'Ferrer Agustín', '2501', 'Glorieta Oriana Berenguer 83 Puerta 9 \nSalamanca, 47608', '+34 822582076', 'jenaromenendez@example.com', None), (28, 'Pacífica del Vilalta', 'Blanco Gomez', '6415', 'Alameda de Ascensión Pomares 36 Apt. 62 \nSanta Cruz de Tenerife, 05431', '+34 826 358 408', 'murjose-angel@example.org', None), (29, 'Pascuala Bayo-Hoz', 'Barreda Salgado', '4886', 'Ronda Salomé Méndez 36\nValladolid, 24163', '+34926 30 48 56', 'candelas33@example.com', None), (30, 'Amador Angelino Batlle Flor', 'Alemán Saura', '8024', 'Pasaje Belén Juliá 91\nSegovia, 45773', '+34844 26 76 18', 'jpi@example.com', None), (31, 'Heriberto Pou Rivero', 'Amigó Pinedo', '8799', 'Avenida de Teodoro Hernando 635\nCastellón, 26739', '+34 943 047 564', 'lmontenegro@example.com', 'Alimentación del Sur S.Coop.'), (32, 'Mario Donoso Manuel', 'Casanova Fuente', '4962', 'Rambla de Flora Campo 6\nLas Palmas, 38659', '+34 844 39 32 83', 'nunezhortensia@example.net', 'Construcción Ibérica S.Com.'), (33, 'Julie Vilalta Taboada', 'Villegas Ferrando', '2609', 'Ronda Marianela Segovia 1\nAlbacete, 30798', '+34 986 226 290', 'sancho23@example.com', None), (34, 'Tomás de Sosa', 'Bastida Morales', '7632', 'Ronda Antonio Ávila 73 Piso 7 \nPalencia, 38894', '+34 984 573 189', 'estela97@example.net', None), (35, 'Marcio Gámez Barragán', 'Teruel Méndez', '1661', 'C. Encarnacion Frutos 78 Apt. 79 \nCuenca, 16388', '+34 951203308', 'ychico@example.net', None), (36, 'Maximiano Duque-Ortiz', 'Armas Benitez', '3591', 'Via de Jacobo Bastida 6\nLleida, 30786', '+34 875 17 98 80', 'xsureda@example.net', None), (37, 'Maribel Tejedor Sobrino', 'Duque Puerta', '2637', 'Calle Eulalia Tejada 373\nCórdoba, 21278', '+34 945690855', 'casemiro84@example.com', None), (38, 'Fidela Lobato Cabañas', 'Tamayo Galan', '9177', 'Cuesta Alfredo Frutos 2\nVizcaya, 40556', '+34 872473076', 'manuel43@example.net', None), (39, 'Nayara Hernando Fonseca', 'Trujillo Navarro', '9656', 'Callejón Regina Fiol 359 Piso 1 \nTarragona, 48311', '+34 879 09 16 06', 'jose-angelrocamora@example.net', 'Soluciones Ibéricos S.A.'), (40, 'Hilario Sabater-Morante', 'Amigó Conesa', '3276', 'Calle Luis Miguel Alegre 5\nCádiz, 17296', '+34 979 262 870', 'tcasanova@example.net', None), (41, 'Elisabet del Patiño', 'Álvarez Botella', '1056', 'Urbanización Moreno Clavero 69 Piso 3 \nHuelva, 31506', '+34845 255 539', 'timoteoasensio@example.com', None), (42, 'Eloísa Cózar-Báez', 'Ayllón Garcés', '7397', 'Acceso de Elpidio Barbero 56 Apt. 83 \nSoria, 41154', '+34972 463 311', 'adieguez@example.org', 'Rodrigo Rius Reina S.L.'), (43, 'Vasco Borrell Lara', 'Gras Jiménez', '8314', 'Pasaje de Leyre Posada 71\nSegovia, 46246', '+34 876 65 26 52', 'ivancarmona@example.net', None), (44, 'Etelvina Llabrés', 'Montes Fuster', '8041', 'Pasaje de Caridad Vazquez 2 Puerta 8 \nLa Coruña, 38364', '+34844153929', 'cguzman@example.net', 'Cándido Marti Ledesma S.Coop.'), (45, 'Amor Garmendia Perez', 'Alfonso Blanch', '6275', 'Alameda de Clara Pintor 298 Apt. 20 \nSoria, 16815', '+34883 37 00 58', 'rcomas@example.net', None), (46, 'Donato Mate Criado', 'Peláez Manso', '1106', 'Cañada de Elpidio Zaragoza 42\nPalencia, 17715', '+34 937 169 881', 'lblanca@example.org', None), (47, 'Vera Alfaro-Valera', 'Barrera Aramburu', '9736', 'Rambla de Demetrio Mata 8\nÁlava, 34265', '+34967375233', 'prietoalexandra@example.net', None), (48, 'Manuelita del Canet', 'Borrego Lara', '6431', 'Avenida Fito Lladó 45\nMálaga, 32907', '+34807273768', 'tmartin@example.net', None), (49, 'Sigfrido Rubio', 'Luján Guardia', '7979', 'Pasaje Gerónimo Sevilla 2 Piso 2 \nCáceres, 24512', '+34 988 344 159', 'marordonez@example.org', None), (50, 'Maristela Santos Martí', 'Villar Torrijos', '3343', 'Pasaje de Roberta Carvajal 70\nGranada, 20414', '+34714 725 292', 'efrain29@example.net', None), (51, 'Dionisio Iriarte', 'Múgica Rosado', '4132', 'Cañada Leonardo Galindo 68\nGuadalajara, 39756', '+34 887 16 21 00', 'josefinamarti@example.net', None), (52, 'Noelia Toledo Ojeda', 'García Tovar', '1146', 'Plaza Pilar Garriga 9 Apt. 33 \nSanta Cruz de Tenerife, 40483', '+34984955376', 'rosalina51@example.net', 'Familia Montaña S.Com.'), (53, 'Cristina Elodia Arana Rincón', 'Iglesia Canals', '8415', 'Cañada Merche Azcona 98\nMadrid, 17604', '+34 986 225 783', 'spinol@example.com', None), (54, 'Marino Serra Mascaró', 'Bermudez Romeu', '6145', 'Avenida Aristides Haro 10\nGirona, 40860', '+34 978 504 585', 'gallardoborja@example.net', None), (55, 'Bibiana Galván', 'Nicolás Aznar', '1653', 'Cuesta de Fabián Feliu 19 Puerta 2 \nToledo, 24888', '+34 943914914', 'gcastillo@example.org', 'Inmobiliaria Varela y asociados S.Coop.'), (56, 'Judith del Sabater', 'Plana Sevilla', '9266', 'Pasadizo Ángeles Osuna 74 Puerta 7 \nLas Palmas, 46647', '+34880988526', 'ambar66@example.net', None), (57, 'Anacleto Gilabert Novoa', 'Carballo Suarez', '3147', 'Pasadizo Jacinto Baeza 52\nÁvila, 25488', '+34641 17 64 96', 'macarenacanellas@example.com', None), (58, 'Inmaculada Acevedo', 'Quesada Girona', '8928', 'Via Carina Rosell 608\nSegovia, 26567', '+34 806042226', 'upedrero@example.net', None), (59, 'David Barba Aller', 'Martínez Meléndez', '7033', 'Alameda Samu Marcos 1\nHuesca, 20424', '+34 707480085', 'adelardofuentes@example.net', None), (60, 'Gaspar Rubio Chacón', 'Blasco Vidal', '2004', 'Ronda de Noelia Seguí 95\nTeruel, 46651', '+34 972 167 794', 'mayoisidora@example.org', None), (61, 'Apolonia Samanta Barco Palmer', 'Perales Bustamante', '2166', 'Cuesta Jaime Escamilla 518 Piso 8 \nGirona, 32681', '+34 888 864 251', 'maria-carmen27@example.com', 'Infraestructuras KTTA S.Coop.'), (62, 'Emilia Aparicio Ibáñez', 'Valentín Cobo', '1630', 'Glorieta de María Cristina Cuadrado 415 Puerta 2 \nLa Rioja, 36509', '+34 945695268', 'sosorio@example.com', None), (63, 'Elisabet Valdés', 'Díaz Cabello', '5946', 'Urbanización Rodolfo Busquets 56\nGirona, 32979', '+34988756130', 'galvanbartolome@example.com', None), (64, 'Genoveva Huertas Mariño', 'González Garcia', '1912', 'Ronda Anselma Calatayud 25 Apt. 47 \nZamora, 28685', '+34741931370', 'solisalba@example.net', None), (65, 'Nico Fortuny Castañeda', 'Orozco Estrada', '8630', 'Acceso de Jose Arévalo 73\nToledo, 15644', '+34 901 246 811', 'pugabautista@example.com', None), (66, 'Emigdio Benítez Pereira', 'Villaverde Ribas', '3032', 'Camino de Francisco Javier Zabaleta 74 Puerta 4 \nSevilla, 43978', '+34 964 187 399', 'valenciaregulo@example.net', None), (67, 'Pánfilo Garzón Elorza', 'Arranz Gallo', '2356', 'Vial de Fátima Ferrández 26\nZamora, 36521', '+34 885 74 97 81', 'remigiomartinez@example.net', None), (68, 'Pili Román Bellido', 'Rius Mata', '4159', 'Alameda Florencio Aguado 53\nLas Palmas, 42684', '+34 878 60 73 90', 'qmosquera@example.org', None), (69, 'Óscar Pérez Tello', 'Nebot Boix', '8798', 'Plaza de Jonatan Raya 17\nSanta Cruz de Tenerife, 26685', '+34888 75 42 65', 'milagroscorbacho@example.net', None), (70, 'Plinio Carrera Lloret', 'Andrade Vigil', '3326', 'Acceso de Encarna Grau 45 Piso 6 \nLeón, 41938', '+34884 15 21 01', 'gonzaloguerrero@example.com', 'Puig y asociados S.L.N.E'), (71, 'Ceferino del Olivera', 'Mendez Barrios', '9878', 'Cañada de Amancio Bermudez 7 Apt. 77 \nVizcaya, 08282', '+34 979 76 84 91', 'gbastida@example.org', 'Manufacturas Tomas & Asociados S.L.'), (72, 'Ángel Sales Miranda', 'Vilalta Samper', '8420', 'Ronda Víctor Llabrés 94 Puerta 8 \nBaleares, 42753', '+34 920 128 614', 'uibanez@example.org', None), (73, 'Nazario Mayoral Sanmiguel', 'Peralta Olmo', '8567', 'Callejón de Feliciano Villar 106 Piso 3 \nGirona, 16065', '+34 943708984', 'teodoro44@example.com', 'Infraestructuras YAO S.A.T.'), (74, 'Áurea Murillo Sabater', 'Matas Tapia', '7422', 'Camino de Elisa Bermúdez 20\nSevilla, 43407', '+34987811020', 'pzamorano@example.org', None), (75, 'Manu Diéguez Crespo', 'Vidal Real', '7476', 'Calle Úrsula Silva 58\nLa Rioja, 02663', '+34 807 365 340', 'tcervera@example.org', 'Manufacturas Montero y asociados S.Com.'), (76, 'Teresita Burgos Alemany', 'Morales Cortina', '7413', 'Alameda Benigno Cabeza 61\nCórdoba, 39923', '+34976 708 888', 'pinillaeli@example.com', 'Construcción Morell S.L.N.E'), (77, 'Encarnacion Mayo Pedrosa', 'Izaguirre Múñiz', '2982', 'Urbanización de Andrés Felipe Pinto 3\nOurense, 15840', '+34 872 018 752', 'leonorprada@example.org', None), (78, 'Amalia Albero Pallarès', 'Macias Rosales', '5813', 'Cañada Salud Tudela 6\nToledo, 41615', '+34 881971117', 'alvarezeutropio@example.net', None), (79, 'Reynaldo Barriga', 'Olmo Mas', '7461', 'Camino de Emilio Duran 28\nÁlava, 32012', '+34 877112760', 'julio-cesarsalazar@example.org', None), (80, 'Cecilia Lorenzo', 'Viña Caballero', '1350', 'Ronda de Florentina Somoza 8\nToledo, 23403', '+34982952404', 'fcabanas@example.org', None), (81, 'Trinidad Expósito Hernando', 'Martinez Luís', '5227', 'Ronda de Espiridión Gabaldón 8 Apt. 59 \nPalencia, 21839', '+34823900342', 'gustavoordonez@example.net', None), (82, 'Plinio Gámez Parra', 'Real Benito', '3386', 'Calle de Constanza Viñas 5 Puerta 4 \nZamora, 44696', '+34920 406 087', 'luciano95@example.net', None), (83, 'Santos del Quintana', 'Falcón Segarra', '1640', 'Calle Pepita Aller 2\nGranada, 10212', '+34874 382 231', 'bibiana18@example.net', None), (84, 'Eustaquio Pereira', 'Losa Roldan', '9847', 'Urbanización Manuelita Ramón 24 Apt. 32 \nVizcaya, 40024', '+34823858607', 'mariruy@example.org', None), (85, 'Rocío Marín Alsina', 'Prada Saura', '6180', 'Glorieta de Susanita Galan 7 Piso 0 \nTarragona, 04998', '+34 820 09 02 58', 'chusalegre@example.com', None), (86, 'Agustín Zabaleta Huguet', 'Estévez Bello', '4646', 'Glorieta de Víctor Alvarado 27 Puerta 0 \nBadajoz, 39631', '+34 922 186 201', 'expositoconsuela@example.com', None), (87, 'Silvestre Gracia Fabregat', 'Barceló Galindo', '3473', 'Pasaje Encarnita Cantero 59 Piso 8 \nCeuta, 22532', '+34844919011', 'eloycobos@example.org', None), (88, 'Rosalva de Collado', 'Vilalta Mariscal', '8650', 'Cañada de Lidia Torres 86 Puerta 6 \nMálaga, 05076', '+34 718356999', 'ambar09@example.org', None), (89, 'Valero Lledó Medina', 'Jaén Valls', '3849', 'Calle Maximiliano Trujillo 242 Apt. 90 \nSegovia, 25654', '+34 976222773', 'isavalentin@example.org', None), (90, 'Rosalva Villalba Campos', 'Ripoll Solís', '7362', 'C. de Odalys Cabo 84 Apt. 91 \nValencia, 26147', '+34 920670038', 'magdalenaaroca@example.com', None), (91, 'Maxi Barbero', 'Quesada Pedro', '7956', 'Ronda de Guiomar Paredes 967\nÁlava, 15987', '+34 841 323 578', 'epedrero@example.org', None), (92, 'Amelia Mate Ramón', 'Machado Cortes', '3176', 'Cuesta de Felicidad Palmer 2\nAlmería, 22389', '+34 920898284', 'aitana06@example.org', 'Infraestructuras TPZU S.A.'), (93, 'Tadeo Mercader Valderrama', 'Calatayud Ribera', '3697', 'Ronda de Aránzazu Tomás 69 Piso 9 \nAlmería, 11262', '+34947 42 31 65', 'telmogarate@example.net', None), (94, 'Domingo Ibañez Giménez', 'Esparza Aliaga', '3954', 'Calle de Georgina Amor 3 Puerta 3 \nCeuta, 36820', '+34 981689658', 'edgarsalcedo@example.com', None), (95, 'Nacio Ruben Alemán Castrillo', 'Aranda Batlle', '5648', 'Vial Olalla Mena 29 Piso 0 \nCáceres, 10050', '+34882341892', 'secojose-francisco@example.com', None), (96, 'Rafa Álvaro Bayona', 'Mínguez Ortiz', '6907', 'Avenida de Gastón Murcia 5\nLeón, 07801', '+34 945576327', 'martasureda@example.net', 'Epifanio Ponce Santana S.A.'), (97, 'Marcio Castellanos Pomares', 'Cuenca Escolano', '8089', 'Callejón de Aroa Villalba 47\nTarragona, 25594', '+34982 55 14 29', 'venceslasriba@example.net', 'Despacho Esparza & Asociados S.Coop.'), (98, 'Jenny Vaquero Vaquero', 'Farré Bartolomé', '9047', 'Acceso Amanda Figueras 59\nTeruel, 37841', '+34 945708743', 'eliseo77@example.net', None), (99, 'Teófila Franco Molins', 'Peralta Roca', '6625', 'Rambla de Juliana Suárez 63 Puerta 5 \nCádiz, 19015', '+34925 526 401', 'olegario61@example.net', None), (100, 'Sonia Roda Pulido', 'Calderón Riba', '2255', 'Callejón Angelina Macías 1\nAsturias, 06069', '+34 884381327', 'cristian70@example.net', None)]

He utilizado esta estructura de base de datos de forma que pudiese almacenar todos los datos de ambas bases de datos iniciales. He interpretado que Curso y Subject son relativamente equivalentes, de forma que he creado la tabla Asignatura, mientras que la tabla Program la he utilizado para hacer la tabla Matricula, al tener en Estudiante también el número de matrícula. En este caso no se ha unido con la tabla Asignatura para simplificarlo.
He unido la tabla Estudiante y EstudianteErasmus para obtener si el estudiante es de ERASMUS, quedando de igual forma que em la tabla Student.
En cuanto a la tabla Profesor, sus datos sólo se encuentran en la BBDD de EstudiantesUC, de igual forma ocurre con Profesor_has_Curso que ha pasado a ser Profesor_has_Asignatura.
Para la tabla ActividadDeportiva se actúa igual que con Profesor, pero estos datos se sacan de SportActivity de la BBDD EstudiantesUoE.
Con la lógica que se ha seguido, las tablas intermedias Estudiante_has_Curso y StudentMarks son directamente equivalentes, creandose Nota_Estudiante_has_Asignatura.

Me ha surgido algún problema para insertar datos en StudentMarks, puesto que Program se relaciona uno a uno con Student, y Program tiene una lista de Subjects, con lo cual cada Subject pertenece únicamente a un Student. Por lo tanto, si se quiere introducir más de un StudentMarks para cada Subject, debería repetirse el mismo idStudent e idSubject, y eso me contradecía la primary key doble en StudentMarks.

La estructura creada no es la más idónea pero pienso que resuelve en gran medida la unión de ambas bases de datos, a pesar de que Subject y Curso no sean exactamente lo mismo. Además, se han insertado los datos correctamente.